<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  </head>
  <body>
    
    <%- categoria %>
    <%- equipo %>
    <%- equipo_2 %>
    <%- plantel_1[0].ID %>
    <%- plantel_2[0].ID %>


    <form action="/ed/<%- categoria %>/act<%- categoria %>" method="POST">
   <input type="number" name="Jornada" value="" placeholder="Jornada">
  
  <input type="date" name="Fecha" value="" placeholder="Fecha">

      <br>
      <br>
<label for="Equipo"><%- equipo %></label>
      <input type="text" name="Equipo" value="<%- plantel_1[0].ID %>" placeholder="">
      <input type="number" name="GF" value="" placeholder="GF" class="col-md-1">

      <input type="number" name="Puntos" value="" placeholder="pl" class="col-md-1">
      <input type="number" name="Puntos_2" value="" placeholder="pv" class="col-md-1">


      <input type="text" name="GC" value="" placeholder="GC" class="col-md-1">
      <input type="text" name="Equipo_2" value="<%- plantel_2[0].ID %>" placeholder="Equipo_2">
      <label for="Equipo_2"><%- equipo_2 %></label>

      <br>
      
    </div>

            <!-- Fin jugador_1 -->

      


<!-- Inicio columna Equipo_2 -->

       

      
      <button>Enviar</button>
      </form>
      
  </body>
</html>
s